services:
  db:
    image: postgres:18.1
    env_file:
      - .env.db
    volumes:
      - db:/var/lib/postgresql
      - ${PWD}/initdb.sh:/docker-entrypoint-initdb.d/initdb.sh

  chart-app:
    image: chart-app
    build:
      context: chart-app
    ports:
      - 127.0.0.1:8000:8000
    env_file:
      - chart-app/.env
    # links:
    #   - jhe
    # needs to be host so that browser URLs
    # match backend URLs
    network_mode: host

  # the actual fhir server
  fhir:
    depends_on:
      - db
    image: hapiproject/hapi:v8.6.0-1
    ports:
      # only needs port for seeding
      - "4040:8080"
    links:
      - db
    volumes:
      - ${PWD}/fhir/hapi.application.yaml:/app/config/application.yaml

  fhirproxy:
    # image: aehrc/smart-launcher-v2
    image: smartonfhir/smart-launcher-2
    ports:
      - "4444:4444"
    links:
      - fhir
    environment:
      PORT: "4444"
      FHIR_SERVER_R2: ""
      FHIR_SERVER_R3: ""
      FHIR_SERVER_R4: "http://fhir:8080/fhir"
      SECRET: "insecure"

  smart-launcher:
    image: smartonfhir/smart-launcher:latest
    ports:
      - 9090:80
    links:
      - fhir
    environment:
      - NODE_ENV=production
      - LAUNCHER_BASE_URL=http://${HOST}:9090
      - BASE_URL=http://${HOST}:9090
      - FHIR_SERVER_R4=http://${HOST}:4444/fhir
      - FHIR_SERVER_R4_INTERNAL=http://fhir:8080/fhir
      - DISABLE_SANDBOXES=1
      # - CDS_SANDBOX_URL=https://sandbox.cds-hooks.org
      # - PICKER_CONFIG_R2=r2-local
      # - PICKER_CONFIG_R3=r3-local
      - PICKER_CONFIG_R4=r4-local
      - PICKER_ORIGIN=http://${HOST}:9091
      - STU2_ENABLED=0
      - STU3_ENABLED=0
      - STU4_ENABLED=1

  jhe:
    depends_on:
      - db
    image: ghcr.io/jupyterhealth/jupyterhealth-exchange:95d8c0b
    ports:
      - 127.0.0.1:9000:8000
    env_file:
      - .env.db
      - .env
    links:
      - db
      - fhir # for seeding

volumes:
  db:
