services:
  chart-app:
    image: chart-app
    build:
      context: chart-app
    ports:
      - 127.0.0.1:8000:8000
    env_file:
      - chart-app/.env
    links:
      - jhe

  db:
    image: postgres:18.1
    env_file:
      - .env.db
    volumes:
      - db:/var/lib/postgresql

  jhe:
    depends_on:
      - db
    image: ghcr.io/jupyterhealth/jupyterhealth-exchange:d1754dc
    ports:
      - 127.0.0.1:9000:8000
    env_file:
      - .env.db
      - .env
    links:
      - db

volumes:
  db:
